/*All pages*/
html, body, form {
    height: 100%;
    margin: 0;
    padding: 0;
    font: normal 14px/1.5em "Segoe UI", Arial, sans-serif;
}

.visibleOverflow{
    overflow:visible !important;
    z-index:111
}
.topBanner {
    background-color: aliceblue;
    padding-left: 55px;
    height: 65px;
    margin: 0,auto;
    border-bottom:1px solid black;
    /*background-image: url('../images/header-colds.png');
    background-position:  0 0px;*/
    /* 0 98  196  294  392 coldonly> 490 */
    /* red blue gray dkgray blue coldonly> bluegreen */
}
.logoHeight {
    height: 55px;
}
.pageHeader {
    background-color: white !important;
    text-align: center !important;
    padding-top: 1px;
}
/*Login Page*/
.LoginHeader {
    color: black;
    padding: 7px;
    font-size: .9em;
    font-weight: bold;
    background-color: lightgrey
}
#tblLoginForm {
    border: 1px solid black;
    background-color: lightgrey;
}
/*Home Page*/
/*Profile Page*/
#ProfileForm {
    border: 1px solid black;
    background-color: lightgrey;
}
/*Doc Vault*/

/*Doc Exchange Page*/
#docContainer {
    background-color: lightgray;
}

/*User AdminPage*/
#UserContainer {
    background-color: lightgray;
}
#LeftSideUserCol {
    background-color: lightgrey;
    border: 1px solid black;
}
#gtmHeader{
    background-color:lightgrey;
}
#editUser {
    background-color: lightgrey;
}
#rowEditTable { /* the user info form*/
    background-color: lightgrey;
}
#rolecell {
    vertical-align: top;
    padding-left: 12px;
    background-color: lightgrey;
}
.UsersRoleList {
    background-color: lightgrey;
}
#eusr {
    background-color: lightgrey;
}

/* **********************************************************************************************************/
/* **********************************************************************************************************/
#divForm {
    border: 1px solid black;
    width: 525px;
    margin: auto;
}

.header {
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.header2 {
    font-size: .8em;
}

#frmTables td {
    font-weight: bold;
    font-size: 11px;
}

.frmTables td red {
    color: Red;
}

a {
    text-decoration: none;
    color: Black;
}

.lilBlueButton {
    color: Blue;
    font-weight: normal;
    font-size: 11px;
    padding-left: 5px;
}



#instructions {
    text-align:center; 
}

.Item {
    background-color: Transparent;
}

.altItem {
    background-color: red;
}

.hover, .hover a {
    cursor: pointer;
    background-color: #bbbbbb;
    color: Blue;
}

.login {
    font-size: 12px;
    text-align: right;
    padding-right: 8px;
    vertical-align: bottom;
}

backbg {
    background-color: #000000;
}

frntbg {
    background-color: red;
}

.ooophf {
    font-size: 25px;
    font-weight: bold;
}

.ooophftxt {
    font-size: 12px;
}

.inactive {
    color: #999999;
}

.specialized {
    font-family: verdana;
    font-size: 15px;
    font-weight: bold;
    color: #999999;
}

.sititle {
    font-size: 20px;
    font-weight: bold;
}

.cattitle {
    font-size: 15px;
    font-weight: bold;
}

.item {
    text-align: left;
    padding: 0 10px;
    font-size: 12px;
    font-weight: normal;
}

.let {
    color: black !important;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

td .radio {
    text-align: center;
    vertical-align: middle;
}

td .let {
    text-align: center;
    vertical-align: bottom;
    color: blue;
}

.txtbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFf7;
}


td .priceheading, td .price {
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
}

td .priceheading {
    text-align: left;
}

td .price {
    text-align: center;
}



td .feature {
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    font-size: 13px;
}

td .valueamount, td .nvalueamount, td .yvalueamount {
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 13px;
}

td .nvalueamount {
    color: red;
}

td .yvalueamount {
    color: #003300;
}

.freesetup {
    background-color: #FFDC00;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 10px;
    color: red;
}

.hlptitle {
    text-align: left;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.hlptxt {
    text-align: justify;
    color: black;
    font-size: 12px;
}

.hlpclose {
    font-size: 10px;
}

altcolor {
    background-color: #FFFFCC;
}

defcolor {
    background-color: #FFFFFF;
}

.catHeader {
    background-color: #cccccc;
}

.small {
    color: black;
    font-size: 10px;
}

.black {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    line-height: 14px
}

.black-bold {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    line-height: 14px
}

.black-small {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #333333;
    font-weight: normal;
    line-height: 14px
}

.black-bold-small {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #333333;
    font-weight: bold;
    line-height: 14px
}

.black-plan {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: none
}



.maintext {
    color: black;
    font-size: 80%;
}

A:visited {
    color: #000090;
    text-decoration: none;
}

A:link {
    color: #000090;
    text-decoration: none
}

A:hover {
    color: #000090;
    text-decoration: underline overline;
    cursor: pointer;
}

A:active {
    color: #000090;
    text-decoration: underline overline
}

.menu A:visited {
    color: #FFFFFF;
    text-decoration: none
}

.menu A:link {
    color: #FFFFFF;
    text-decoration: none
}

.menu A:hover {
    color: #FFFF00;
    text-decoration: underline overline;
    cursor: pointer;
}

.menu A:active {
    color: #FF0000;
    text-decoration: underline overline
}


.light {
    background-color: #FFFFCC
}

.dark {
    background-color: #000092;
}

.date {
    color: black;
    font-size: 60%;
    font-family: Verdana,sans-serif;
}

.menu {
    color: white;
    font-size: 11px;
    font-family: Verdana,sans-serif;
}

.logout {
    color: White;
    font-family: Arial;
    font-size: 11px;
}

.white {
    background-color: #FFFFFF;
}



.bordertopleftright {
    border-top: 1px ridge #000092;
    border-left: 1px ridge #000092;
    border-right: 1px ridge #000092;
}

.borderleftright {
    border-left: 1px ridge #000092;
    border-right: 1px ridge #000092;
}

.borderleft {
    border-left: 1px ridge #000092;
}

.borderright {
    border-right: 1px ridge #000092;
}

.borderbottom {
    border-bottom: 1px ridge #000092;
}

.borderbottomright {
    border-bottom: 1px ridge #000092;
    border-right: 1px ridge #000092;
}

.borderbottomleft {
    border-bottom: 1px ridge #000092;
    border-left: 1px ridge #000092;
}

.borderbottomleftright {
    border-bottom: 1px ridge #000092;
    border-left: 1px ridge #000092;
    border-right: 1px ridge #000092;
}




.mainbottom {
    color: black;
    font-size: 75%;
}

.title {
    color: black;
    font-size: 115%;
}

.lawyer {
    color: black;
    font-size: 55%;
}


.required {
    background: yellow;
    font-weight: bold;
    font-size: 90%;
}

.lcDate {
    font-size: .7em;
    color: Green;
}

.rlvHeader {
    font-size: 12px;
    font-weight: bold;
    background-color: #cccccc;
}

.smallTitle {
    font-size: 11px;
}

.ttHeader {
    padding: 0px 0px 0px 4px;
    font-size: 18px;
}

.ttTitle {
    font-size: 12px;
    font-weight: bold;
}

.ttBody {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 11px;
}
