<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    <add key="Telerik.Web.UI.RenderMode" value="lightweight" />
    <add key="Telerik.Skin" value="Default" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />

  </appSettings>
  <connectionStrings>
    <add name="PhazzerConnectionString" connectionString="Data Source=162.144.203.68,1435;Initial Catalog=PhazzerTraining;Persist Security Info=True;User ID=sa;Password=elSquared1" providerName="System.Data.SqlClient" />
    <!--<add name="PhazzerConnectionString" connectionString="Data Source=RANDYDEV\;Initial Catalog=Phazzer;Persist Security Info=True;User ID=PhazzerUser;Password=PhazzerUserPW" providerName="System.Data.SqlClient" />-->
    <add name="zipCodeConnectionString" connectionString="Data Source=162.144.203.68,1435;Initial Catalog=usZipCodes;Persist Security Info=True;User ID=sa;Password=elSquared1" providerName="System.Data.SqlClient" />
    <add name="EventRegConnectionString" connectionString="Data Source=162.144.203.68,1435;Initial Catalog=Phazzer;Persist Security Info=True;User ID=sa;Password=elSquared1" providerName="System.Data.SqlClient" />
    <add name="PhazzerConnectionStringd" connectionString="Data Source=RANDYDEV\;Initial Catalog=Phazzer;Persist Security Info=True;User ID=PhazzerUser;Password=PhazzerUserPW" providerName="System.Data.SqlClient" />
    <add name="PhazzerConnectionStringp" connectionString="Data Source=162.144.203.68,1435;Initial Catalog=Phazzer;Persist Security Info=True;User ID=PhazzerUser;Password=PhazzerUserPW" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="homepg.aspx">

    <system.web>
      <authorization>
        <allow roles="Sysop,Administrator,Manager, Clerk,Master Instructor, Senior Instructor, Instructor, Client, Employee, Student" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow roles="Sysop,Administrator,Manager, Clerk,Master Instructor, Senior Instructor, Instructor, Client, Employee, Student" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <membership defaultProvider="PhazzerMembershipProvider">
      <providers>
        <add name="PhazzerMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PhazzerConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="PhazzerTraining" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="PhazzerRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="PhazzerRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="PhazzerTraining" connectionStringName="PhazzerConnectionString" />
      </providers>
    </roleManager>
    <profile defaultProvider="PhazzerProfileProvider">
      <providers>
        <add name="PhazzerProfileProvider" connectionStringName="PhazzerConnectionString" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
    </profile>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.AnalysisServices.AdomdClient, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="4096" executionTimeout="110" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms slidingExpiration="true" timeout="60" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" />
    </authentication>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="1513F567EE75F7FB5AC0AC4D79E1D9F25430E3E2F1BCDD3370BCFC4EFC97A541" validationKey="32CBA563F26041EE5B5FE9581076C40618DCC1218F5F447634EDE8624508A129" />
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="upload/Async/Docuploader/Handler.ashx" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="AsyncUpload/Examples/ImageUploader/Handler.ashx" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="upload/Async/Docuploader/Handler_ashx" verb="*" preCondition="integratedMode" path="upload/Async/Docuploader/Handler.ashx" type="Telerik.Web.UI.WebResource" />
      <add name="AsyncUpload/Examples/ImageUploader/Handler_ashx" verb="*" preCondition="integratedMode" path="AsyncUpload/Examples/ImageUploader/Handler.ashx" type="Telerik.Web.UI.WebResource" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4194304" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ABCpdf" culture="neutral" publicKeyToken="a7a0b3f5184f2169" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.0.5" newVersion="10.1.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>